@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&family=Noto+Serif+Display:ital,wght@1,300&display=swap');

.contacts-custom {
    background: url('https://livedemo00.template-help.com/wt_prod-19522/images/breadcrumbs-image-4.jpg');
    font-family: 'Inria Serif', serif;
    width: 100%;
    height: auto;
    padding-top: 8%;
    padding-bottom: 3%;
}

.contacts-custom h6 {
    position: relative;
}


.underline {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 40px;
    text-decoration: none;
    border-top: 2px solid #fff;
}

.section {
    height: auto;
}

.section-item {
    height: 110px;
}

.section-item {
    margin: 0;
    border-left: 1px #c19b76 solid;    
}
    
.section-item p {
    font-size: 15px;
}
    
.section-item:last-child {
    border-right: 1px #c19b76 solid;    
}


@media (max-width: 768px) {
    .section-item {
        margin: 0;
        border: none;
        border-bottom: 1px #c19b76 solid;    
    }
    .section-item:last-child {
        border: none;    
    }
}

.range h3{
    font-family: 'Inria Serif', serif;
}

.range label {
    font-family: 'Inria Serif', serif;
}

.button {
    width: 30%;
    height: 100%;
    background: #c19b76;
    border: none;
}

.button:hover {
    background: #413F42;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: all 0.3s ease;
}