
.register {
    width: 35%;
    height: auto;
}

@media (max-width: 991px) {
    .register {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .register {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .register {
        width: 100vh;
        height: 100vh;
    }
}

.register-section {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px #fff solid !important;
    padding: 9% 0;
    overflow: hidden;
    color: #fff;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.logo-part {
    height: 100%;
}

.password-part {
    width: 80%;
    position: relative;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin: 0;

}

.icon {
    position: absolute;
    right: 4%;
    bottom: 15%;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    color: #fff;
}

.email {
    width: 80%;
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 1px solid #fff;
    background: transparent;

}

.password {
    width: 90%;
    border: none;
    outline: none;
    font-size: 17px;
    background: transparent;
}

.confirm-password {
    margin-top: 10px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 1px solid #fff;
    background: transparent;
}

.style-link {
    text-decoration: underline #ed985f;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    color: #fff;
    border: none;
    padding: 10px;
    box-shadow: none;
}

form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="password"]::placeholder {
    color: #fff;
    opacity: 1;
    font-style: italic;
}